<html>
<head>
  <script src="bower_components/feathers-client/dist/feathers.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

</head>
<body>
<div ng-app="test">
  <script type="text/ng-template" id="mainControllerTemplate.html">
    <div ng-if="!authenticated">
      <input ng-model="phone" type="text" placeholder="phone">
      <input ng-model="password" type="password" placeholder="password">
      <a href="#" ng-click="auth()">auth</a>
      <hr>
      <span>{{phone}}</span>
    </div>

    <div ng-if="authenticated">
      <a ui-sref="messages">Messages</a>
    </div>
  </script>

  <script type="text/ng-template" id="messageControllerTemplate.html">
    <span>Количество: {{models.length}}</span>
    <br>
    <div ng-repeat="model in models">
      <div>{{model.text}}</div>
    </div>
    </div>
  </script>
  <div ui-view></div>
</div>

<script>
  var app = angular.module('test', ['ngRoute', 'ngResource', 'ui.router']);
  app.factory('Feathers', function () {
    var host = 'http://localhost:3030';
    var app = feathers()
      .configure(feathers.rest(host).jquery(jQuery))
      .configure(feathers.hooks())
      .configure(feathers.authentication({
        storage: window.localStorage,
      }));
    app.set('token',window.localStorage['feathers-jwt']);

    return app;
  });

  app.factory('Message', ['Feathers', function (Feathers) {
    return Feathers.service('messages');
  }]);
  
  app.config([
    '$stateProvider', '$urlRouterProvider', function ($stateProvider, $urlRouterProvider) {
      $urlRouterProvider.otherwise('/');
      $stateProvider
        .state({
          name: 'main',
          url: '/',
          controller: 'MainController',
          templateUrl: 'mainControllerTemplate.html'
        })
        .state({
          name: 'messages',
          url: '/messages/',
          controller: 'MessageController',
          templateUrl: 'messageControllerTemplate.html'
        })
    }
  ]);
  
  app.controller('MainController', [
    '$scope',
    'Feathers',
    function ($scope, Feathers) {
      console.log('MainController');
      $scope.authenticated = Feathers.get('token');


      $scope.auth = function () {
        console.log('$scope.phone', $scope.phone);
        console.log('$scope.password', $scope.password);
        Feathers.authenticate({
          type: 'local',
          phone: $scope.phone,
          password: $scope.password
        })
          .then(function (result) {
            console.log(result);
            $scope.authenticated = true;
            $scope.phone = '';
            $scope.password = '';
            $scope.$apply();
          })
          .catch(function (err) {
            console.log('err', err);
          })
      }
    }
  ]);
  
  app.controller('MessageController', [
    '$scope',
    '$state',
    'Feathers',
    'Message',
    function ($scope, $state, Feathers, Message) {
      console.log('MessageController');
      if (!Feathers.get('token')) {
        $state.go('main')
      }

      $scope.models = [];
      Message.find({}).then(function (res) {
        console.log(res);
        $scope.models = res.data;
        $scope.$apply();
      }).catch(function (err) {
        console.log('err', err);
      });
      
        
    }
  ])

</script>
</body>
</html>