<html>
<head>
  <script src="bower_components/feathers-client/dist/feathers.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

</head>
<body>
<div ng-app="test">
  <script type="text/ng-template" id="mainControllerTemplate.html">
    <div ng-controller="MainController as ctrl">
      <div ng-if="!ctrl.authenticated">
        
          <input ng-model="ctrl.phone" type="text" placeholder="phone">
          <input ng-model="ctrl.password" type="password" placeholder="password">
          <a href="#" ng-click="ctrl.auth()">auth</a>
          <hr>
          <span>{{ctrl.phone}}</span>
      </div>

      <div ng-if="ctrl.authenticated">
          <a ui-sref="messages">Messages</a>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="messageControllerTemplate.html">
    <span>Количество: {{models.length}}</span>
    <br>
    <div ng-repeat="model in models">
      <div>{{model.text}}</div>
    </div>
    </div>
  </script>
  <div ui-view></div>
</div>

<script>

  var app = angular.module('test', ['ngRoute', 'ngResource', 'ui.router']);
  
  app.factory('Feathers', function () {
    var host = 'http://localhost:3030';

    var feathersApp = feathers()
      .configure(feathers.rest(host).jquery(jQuery))
      .configure(feathers.hooks())
      .configure(feathers.authentication({
        storage: window.localStorage,
      }));

    feathersApp.set('token', window.localStorage['feathers-jwt']);
    return feathersApp;
  });

  
  app.factory('Message', [
    'Feathers', 
    function (Feathers) {
      return Feathers.service('messages');
    }
  ]);
  
  app.config([
    '$stateProvider', 
    '$urlRouterProvider', 
    function ($stateProvider, $urlRouterProvider) {
      $urlRouterProvider.otherwise('/');
      $stateProvider
        .state({
          name: 'main',
          url: '/',
          controller: 'MainController',
          templateUrl: 'mainControllerTemplate.html'
        })
        .state({
          name: 'messages',
          url: '/messages/',
          controller: 'MessageController',
          templateUrl: 'messageControllerTemplate.html'
        })
    }
  ]);
  
  app.controller('MainController', [
    '$scope',
    'Feathers',
    '$state',
    function ($scope, Feathers, $state) {
      //console.log('MainController');
      this.authenticated = Feathers.get('token');
      var that = this;

      this.auth = function () {
        console.log('$scope.phone', that.phone);
        console.log('$scope.password', that.password);

        Feathers.authenticate({
              type: 'local',
              phone: that.phone,
              password: that.password
          }).then(function (result) {
              console.log(result);
              that.authenticated = result.token;
              that.phone = '';
              that.password = '';

              $state.go('main', null, {reload: true});
          }).catch(function (err) {
              that.phone = '';
              that.password = '';
              console.log('err', err);
              $state.go('main');
          });
      }
    }
  ]);
  

  app.controller('MessageController', [
    '$scope',
    '$state',
    'Feathers',
    'Message',
    function ($scope, $state, Feathers, Message) {
      console.log('MessageController');
      if (!Feathers.get('token')) {
        $state.go('main')
      }else{

        $scope.models = [];
        Message.find({}).then(function (res) {
          console.log(res);
          $scope.models = res.data;
          $scope.$apply();
        }).catch(function (err) {
          console.log('err', err);
        });
      }
        
    }
  ])

</script>
</body>
</html>