<div>
    <h3>New outgoing invoice</h3>
    <input class="form-control"
            id="amount"
            name="amount"
            placeholder="Введите сумму"
            type="text"
            ng-model="invoice.amount"
            required
            >
            
    <input class="form-control"
            id="to"
            name="to"
            placeholder="Введите номер"
            type="text"
            ng-model="invoice.to"
            required
            >
    <a href="#" ng-click="save()">add</a>

</div>
